* {
    box-sizing: border-box;
}

h1 {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.question {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.question > h2 {
    text-align: center;
}

input {
    margin-top: 20px;
    margin-left: 45px;
}

.results {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}