* {
    box-sizing: border-box;
}

body {
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

header {
    margin-top: 100px;
}

h1 {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.question {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 5px;
}

.question > h2 {
    text-align: center;
}

input {
    margin-top: 20px;
    margin-left: 20px;
}

.results {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.score {
    width: 500px;
    height: 100px;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
}

.hidden {
    display: none;
}